.navbar-brand {
    display: inline-block;
    padding-top: .8rem;
    padding-bottom: .9rem;
    margin-right: 50rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 1rem;
}

.navbar-nav {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

.nav-item {
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

h1{
    padding: 40px;
    padding-bottom:20px;
    padding-left: 0;
}

.margins{
    margin-top:40px;
}
